@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
}
span > p{
    display: none;
}
span:hover > p{
    display: block;
    background-color: rgb(255, 252, 59);
    width: 150px;
    font-weight: bolder;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: red;
}
a:visited{
    color: darkred;
}
a:hover{
    text-decoration: underline;
}
.especial:hover{
    color: white;
    background-color: black;
    text-decoration: none;
}
.especial::before{
    content: '>>';
    font-weight: lighter;
}