@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 5px;
}
p, h1{
    margin: 5px;
    padding: 5px;
}
header{
    background-color: lightgray;
    padding: 5px;
    margin: auto;
    width: 500px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.527);
}
nav{
    background-color: rgb(153, 144, 144);
    padding: 3px;
    box-shadow: 2px 2px 1px black
}
a{
    margin-right: 45px;
    margin-left: 45px;
}
nav>a{
    text-decoration: none;
    color: whitesmoke;
    
}
nav>a:hover{
    text-decoration: underline;
}
main{
    background-color: rgb(218, 216, 216);
    margin: 3px;
    padding: 5px;
    box-shadow: 2px 2px 3px  rgba(0, 0, 0, 0.342);
    border-radius: 20px 0px;
}
#assunto{
    background-color: rgb(255, 255, 255);
    margin: 15px;
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
    
}
article{
    background-color: azure;
    padding: 2px 10px;
    border-radius: 10px 0px;
}
aside{

}
footer{
    background-color: rgb(54, 52, 52);
    color: aliceblue;
    text-align: center;
}
#principal{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer > p{
    padding: 3px;
}

#bola{
    height: 200px;
    width: 200px;
    background-color: darkblue;
    border-radius: 50%;
}
