@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    width: 600px;
    margin: auto;

}
menu li{
    display: inline-block;
    margin-right: 20px;
}
h1, menu{
    padding-top: 10px;
    text-align: center;
}
header{
    background-color: lightblue;
    height: 100px;
}