@charset "UTF-8";

/*  Device Breakpoint:
480px: celular
768px: tables
1024px: desktop
1200px: tv
*/

@media print{

}
@media screen and (min-width:768px) and (max-width:992px){/*tablet*/
    body{
        background-image: url(../img/back-tablet.jpg);
    }
#phone{display: none;}
#tablet{display: block;}
#pc{display: none;}
#tv{display: none;}
#print{display: none;}
    
}
@media screen and (min-width:992px) and (max-width:1200px) {/*desktop*/
    body{
        background-image: url(../img/back-pc.jpg);
    }
#phone{display: none;}
#tablet{display: none;}
#pc{display: block;}
#tv{display: none;}
#print{display: none;}
}
@media screen and (min-width:1200px) {/*tv*/
    body{
        background-image: url(../img/back-tv.jpg);
    }
#phone{display: none;}
#tablet{display: none;}
#pc{display: none;}
#tv{display: block;}
#print{display: none;}
    main{
        width: 80vw;
    }

}